/* .marks .states {
    fill: #137b80;
} */

/* .marks .interiors {
    fill: none;
    stroke: #c0c0bb;
} */

.marks {
    fill: none;
    stroke: #c0c0bb;
}
/* .marks .states:hover {
    fill: green;
} */
